@page "/"

<PageTitle>Index</PageTitle>

<div class="pie-display">
  <div class="text-center">
    <div class="pie animate" style="--percentage: 73;">
      <span style="color: #952647; font-weight: bold;">
        <span style="font-size: 91px;">73</span>
        <span style="font-size: 46px;">%</span>
      </span>
    </div>

    <div style="color: #952647; margin-top: 2rem; font-size: 4rem;">
      £167,954
    </div>
    <div style="font-size: 2rem; color: #952647;">
      RAISED OF <strong>£230,000</strong> GOAL
    </div>
  </div>
</div>
